<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RNExpandTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0A8316B1DFA4C3300D4FE95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0A831841DFA4C3600D4FE95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0A8318F1DFA4C3700D4FE95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
